<div class="container">
    <h3 class="font-weight-bold text-center mt-5">สวัสดี, คุณ</h3>
    <div class="register-main">
        <div class="d-flex justify-content-center">
            <img class="img-user" [src]="imgURL" *ngIf="imgURL">
        </div>
        <div class="d-flex justify-content-center">
            <span class="mt-4" style="color:red;" *ngIf="message">{{message}}</span>
            <input class="mt-4 mb-4" #file type="file" accept='image/*' (change)="preview(file.files)" />
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-outline mb-4">
                    <label class="form-label">ชื่อ-สกุล</label>
                    <input type="text" class="form-control" [formControl]="input.name" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-outline mb-4">
                    <label class="form-label">วันเดือนปีเกิด</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker"
                            [formControl]="input.birthDate" (ngModelChange)="changedDate($event)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                    class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-outline mb-4">
                    <label class="form-label">เบอร์มือถือ</label>
                    <input type="text" class="form-control" [formControl]="input.telephone" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-outline mb-4">
                    <label class="form-label">อีเมล</label>
                    <input type="text" class="form-control" [formControl]="input.email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-outline mb-4">
                    <label class="form-label">ที่อยู่</label>
                    <input type="text" class="form-control" [formControl]="input.address" />
                </div>
            </div>
        </div>
        <div class="register-user pt-3 mb-3 pl-3 pr-3">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="form-outline mb-4">
                        <label class="form-label">ชื่อผู้ใช้งาน</label>
                        <input type="text" class="form-control" [formControl]="input.username" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="form-outline mb-4">
                        <label class="form-label">รหัสผ่าน</label>
                        <input type="password" class="form-control" [formControl]="input.password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="form-outline mb-4">
                        <label class="form-label">ยืนยันรหัสผ่าน</label>
                        <input type="password" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-danger button-login" (click)="onSubmit()">ตกลง</button>
            <button type="button" class="btn btn-secondary button-login ml-2">ยกเลิก</button>
        </div>

        <div class="text-center mt-3">
            <p>ลงชื่อเข้าใช้บัญชี <a href="login">คลิก</a> ที่นี่</p>
        </div>
    </div>
</div>