<div class="container">
    <div class="row">
        <div class="col-md-3 col-12">
        </div>
        <div class="col-md-6 col-12">
            <div class="search-book">
                <h2>บริการสืบค้นหนังสือ</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control mt-2" placeholder="ชื่อหนังสือ"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"
                        [(ngModel)]="input.searchbookname" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger mt-2" type="button"
                            (click)="searchBookByName()">ค้นหา</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-12"></div>
        <div class="col-md-5 col-6">
            <ng-container *ngIf="input.searchShow">
                <div>ผลการสืบค้น: {{input.searchText}}</div>
                <div>พบ: {{input.searchCount}} ชื่อเรื่อง</div>
            </ng-container>
        </div>
        <div class="col-md-5 col-6">
            <div class="row" *ngIf="!input.searchShow">
                <div class="col">
                    <div class="sortby">
                        เรียงลำดับโดย
                    </div>
                </div>
                <div class="col">
                    <select (change)="sortbyField()" [(ngModel)]="input.field" class="form-select" aria-label="Default select example">
                        <option disabled selected hidden>เลือก</option>
                        <option value="bookname">ชื่อเรื่อง</option>
                        <option value="author">ชื่อผู้แต่ง</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-12"></div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 col-6" *ngFor="let item of bookservice.getListBook(); index as i">
            <div class="book-item" (click)="getBook(item.id)">
                <div class="div-img"><img [src]="imglink+item.image" class="img" alt="img">
                </div>
                <div class="d-flex justify-content-center overflow-hidden">
                    <div class="div-desc over">
                        <p>ชื่อหนังสือ : {{item.bookname}}</p>
                        <p>ชื่อผู้แต่ง : {{item.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div *ngIf="input.loadmore" class="more cursor-pointer" (click)="getLoadMore()">
            <div class="icon">
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
            <div class="text">
                More
            </div>
        </div>
    </div>
</div>