:host {

    .btn {
        &.btn-light:hover {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
        }
    }

    .search-book {
        margin: 3rem 0 4rem;
        text-align: center;
    }

    .book-item {
        margin: 0 0 16px;
        cursor: pointer;

        .div-img {
            height: 230px;
            display: flex;
            justify-content: center;
    
            .img {
                width: auto;
                height: 100%;
            }
        }

        .div-desc {
            height: 130px;
            width: 80%;
        }

    }

    .more {
        display: inline-flex;
        color: red;

        .icon {
            margin-right: 12px;
        }
    }

    .more:hover {
        text-decoration-line: underline;
        color: red;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .sortby {
        display: flex;
        justify-content: flex-end;
        margin: 8px 0 0;
    }
}